#homepage-treatment
  %h1.logo
    %span.keep KEEP
    %span.delivering DELIVERING

  %p= t("home.index.description")

  = link_to(t("home.index.create_a_mission"), new_mission_path, { class: "action" })
