/* Backgrounds taken from http://lea.verou.me/css3patterns/#argyle */

html,
body {
  min-height: 100%;
  position: relative;
}

.right {
  float: right;
}

#background #vignette {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

#background #shadow {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0) 10%, rgba(0, 0, 0, 0.0) 40%, rgba(0, 0, 0, 0.6) 100%);
}

#page {
  position: relative;
  z-index: 2;
}

body {
  padding: 2% 5%;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  margin: 2% 5%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 1.8em;

  background-color: rgba(8, 1, 46, 1);
  background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.03), rgba(255,255,255,.03) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px);
  background-size: 70px 120px;
  transition: 1s;
}

body.loading {
  background-color: rgba(37, 1, 1, 1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 0.5em;
}

a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}

a:focus {
  outline-color: rgba(166, 120, 3, 0.6);
}

a:hover,
a:focus {
  color: rgba(166, 120, 3, 1);
}

#page a {
  display: inline-block;
  margin: 0 0.2em 0 0;
}

#page a:hover,
#page a:focus {
  margin: 0 0 0 0.2em;
}

#page p a {
  margin: 0;
}

#page p a:hover,
#page p a:focus {
  margin: 0;
}

a.action,
input[type=submit] {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  border: 1px dashed rgba(255, 255, 255, 0.2);
  background-color: rgba(166, 120, 3, 0.6);
  transition: 0.4s;
  display: inline-block;
  padding: 0.4em 0.8em;
  background-image:
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
}

/* Ugh! Browser input overrides */
input[type=submit] {
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  transition: 0s;
  cursor: pointer;
  width: 100%;
}

a.action:hover,
a.action:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(166, 120, 3, 1);
}

a.action.delete {
  background-color: rgba(51, 0, 0, 0.4);
}

a.action.delete:hover,
a.action.delete:focus {
  background-color: rgba(51, 0, 0, 1);
}

.logo {
  font-family: 'Oswald', sans-serif;
}

.logo .keep {
  color: rgba(255, 255, 255, 0.4);
}

.logo .delivering {
  color: rgba(255, 255, 255, 0.8);
}

label {
  cursor: pointer;
}

nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 1em;
  display: flex;
  align-items: baseline;
}

nav a {
  border: none;
}

nav h1 {
  font-size: 1em;
  border: none;
  display: inline;
  margin: 0;
  flex-grow: 1;
}

nav ul {
  flex-grow: 5;
  text-align: right;
  list-style-type: none;
  display: inline;
  margin: 0;
}

nav ul li {
  display: inline;
  padding-right: 1em;
}

nav h1 a {
  font-style: normal;
  border: none;
}

.home.index #welcome-treatment {
  text-align: center;
}

.home.index #welcome-treatment .logo {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
  font-size: 3em;
  line-height: 1.4em;
}

.term {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}

#notice {
  position: fixed;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  color: rgba(8, 1, 46, 1);
  z-index: 8;
}

.hud {
  position: fixed;
  padding: 2em;
  margin: 2em;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  color: rgba(8, 1, 46, 1);
  box-shadow: 0 0 100px rgba(183, 169, 255, 0.4);
  text-align: center;
  z-index: 9;

  background-color: rgba(3, 0, 14, 0.9);
  background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.03), rgba(255,255,255,.03) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px);
  background-size: 70px 120px;
}

#skip_to_content.hud {
  top: 100%;
}

#skip_to_content.hud:focus {
  top: inherit;
  display: inherit;
}

.subtext {
  font-size: 0.8em;
  opacity: 0.6;
}

section {
  margin-bottom: 4em;
}

.contrast {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1em;
}

#mission-count {
  text-align: center;
  padding: 2em 1em;
}

#content {
  margin-bottom: 4em;
}

#content:focus {
  outline: none;
}

footer {
  font-size: 0.8em;
  opacity: 0.8;
}

.subnote {
  display: block;
  font-size: 0.8em;
  opacity: 0.8;
}


.underline {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  margin-bottom: 4px;
}

.deliverable_handle,
.requirement_handle {
  opacity: 0.4;
  cursor: move;
}

ul#deliverables.active li ul {
  zoom: 0.4;
}

ul.requirements {
  min-height: 1em;
}

ul.requirements {
  font-size: 0.8em;
}

ul {
  margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

i.large {font-size: 1em;}
