#error_explanation h2 {
  font-size: 1em;
  border: none;
}

input {
  font-family: 'Open Sans Condensed', sans-serif;
}

.fill-me-in {
  background-color: rgba(255, 255, 255, 0.03);
  padding: 0.2em 1em;
  margin-bottom: 0.6em;
  position: relative;
}

.fill-me-in label {
  margin-right: 1em;
  display: inline-block;
  width: 30%;
}

.fill-me-in input[type=text] {
  width: 60%;
  position: absolute;
  padding: 0.5em 5%;
  font-size: 1em;
  top: -0.2em;
  bottom: -0.2em;
  right: -0.2em;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: rgba(255, 255, 255, 0.6);
}

.fill-me-in input:valid {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
}

input[type=submit] {
  transition: 0.2s;
}

form:invalid input[type=submit] {
  opacity: 0.2;
}
